extends ../template
include ../public/menu_maker
include ../public/libs_maker
include ../public/pagination_maker
include card_maker
block title_and_libs
    title edit article
    +make_scripts('jquery','popper','bootstrap','font_awesome')
    +make_css('bootstrap')


block page_menu
    - var vl = isAuthed? [1,2,3,6]:[1,2,3]
    +make_menu(vl,2)

block content
    each blog in blogList
        if blog.type === 0
            +make_small_card(blog._id,blog.title, blog.description, blog.small_cover, blog.create_time, blog.last_modified_time, blog.views, blog.visible)
        else
            +make_large_card(blog._id,blog.title, blog.description, blog.small_cover, blog.create_time, blog.last_modified_time, blog.views, blog.article.length,blog.visible)
    -
        var range = (start, stop) => Array.from({length: stop - start + 1}, (_, i) => start + i);
        var page_href_list = range(1, totalPage).map(val => "/newest/" + val)
    +make_pagination(currentPage, totalPage, page_href_list)

block append style_desktop
    include ../style/list.css

block append style_mobile
    include ../style/list_mobile.css