mixin make_scripts(...scripts)
    -
        var script_index_list = {
            'bootstrap': 'https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js',
            'font_awesome': 'https://cdn.bootcdn.net/ajax/libs/font-awesome/5.14.0/js/all.min.js',
            'jquery': 'https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js',
            'popper': 'https://cdn.bootcdn.net/ajax/libs/popper.js/2.4.3/cjs/popper.min.js',
            'showdown': 'https://cdn.bootcdn.net/ajax/libs/showdown/1.9.1/showdown.min.js'
        }

    each script_name in scripts
        script(src=script_index_list[script_name])

mixin make_css(...csss)
    -
        var css_index_list = {
            'bootstrap': 'https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'
        }

    each css_name in csss
        link(rel="stylesheet" href=css_index_list[css_name])
