mixin make_pagination(current_page, total_page, href_list)
    -
        var range = (start, stop) => Array.from({length: stop - start + 1}, (_, i) => start + i);
        var previous_href = href_list[current_page - 2]
        var next_href = href_list[current_page]

    nav
        ul.pagination.justify-content-center
            if previous_href
                li.page-item
                    a.page-link(href=previous_href, tabindex="1", aria-disabled="true")
                        i.fa.fa-arrow-left
            each href1, index in href_list
                li.page-item(class=(current_page === index + 1 ? "active" : ""))
                    a.page-link(href=href1)= index + 1
            if next_href
                li.page-item
                    a.page-link(href=next_href)
                        i.fa.fa-arrow-right

