.d-inline-block.m-1
    button#upload_md.btn.btn-secondary
        i.fas.fa-arrow-up
        | 上传md源代码
    button#download_md.btn.btn-secondary
        i.fas.fa-arrow-down
        | 下载md源代码
.d-inline-block.m-1
    button#copy_all.btn.btn-secondary
        i.fas.fa-copy
        | 全部复制到剪贴板
textarea#MD_source.form-control.mt-3(rows="10") #
