#small_card.small-blog-item
    .intro-area
        h2#small_title title
        article#small_introduction introduction
    .img-area
        img#small_image(src="/good.png", alt="banner_image")
    .date-view-talk
        small 创建:2000/00/00
        small 修改:2000/00/00
        span
            i.fas.fa-eye= 10