#big_card.big-blog-item
    .big-img-area
        img#big_image.big-image(src="https://dummyimage.com/1800x600/000/fff", alt="good")
    .big-intro-area
        h2#big_title 标题
        article#big_introduction 介绍
    .date-view-talk
        small 创建:2000/00/00
        small 修改:2000/00/00
        span
            i.fas.fa-eye
            |99
        span
            i.fas.fa-file
            |0
