<img src="https://dummyimage.com/1200x200/000/fff" alt="banner-image" class="banner m-auto">
<h2 style="padding-bottom:.3em;border-bottom: 1px solid #eaecef;">
    <a id="user-content-neboer" class="anchor" aria-hidden="true" href="#neboer"></a>
    <i class="fas fa-signature"></i>
    Neboer's Homepage
</h2>
<p>Neboer这个名字取自于“初生牛犊”的 <em>New(ly) born ...</em> 每个词的前两个字，并在结尾加上“er”表示“人”。
    这是一个很奇怪的拼合词，严格来说并不符合拼读规范。你可以把它读成“neighbor”这个词，这也是我推荐的读法。</p>
<p>Neboer是一个不太极端的技术爱好者，现居中国大陆。在技术上偏向网页设计，全栈懵逼，对前端技术较为热衷，有一定的js水平，
    也喜欢linux系列，写过一些实用程序和网站，是一个开源软件倡导者，主力语言有Python javascript，C++和golang。</p>
<p>虽然并不是专业相关，但是还是最喜欢写程序和做网站，受到一些影响开始学一点日语。目前还是单身，也没有很喜欢的人，倒是喜欢几个动漫角色（笑）。
    最喜欢的动画是电磁炮，美琴と黒子わ大好きです。生活里的朋友不多，喜欢听一些日风轻音乐和享受独自一人的感觉。</p>
<p>不是正统的游戏玩家，只是喜欢打联盟和玩一些单机游戏，几乎不玩手游，偶尔有想做游戏的想法，但是奈何一个人力量和水平有限。</p>
<p>你可以用中文或英语和我交流，发送邮件时请优先选择我的gmail邮箱。</p>
<p>没什么太多好说的，也没什么好了解的。关于Neboer我也所知不多，大概就是一只程序猿而已。</p>