extends template
include parts/menu_maker
include parts/libs_maker
block title_and_libs
    title Neboer's boat homepage
    +make_scripts('jquery','popper','bootstrap','font_awesome')
    +make_css('bootstrap')

block page_menu
    +make_menu([1, 2, 3],1)

block content
    include parts/homepage_content.html
