mixin list_item(item_name, item_href, item_choose)
    li.nav-item.flex-grow-1.text-center
        if item_choose
            a.nav-link.active(href=item_href)
                i.fas.fa-list #{item_name}
        else
            a.nav-link(href=item_href)
                i.fas.fa-list #{item_name}

mixin make_menu(all_display_index, choose_index)
    -
        var menu_list = [
            {name: '主页', href: '/', index: 1},
            {name: '最新的', href: '/newest', index: 2},
            {name: '分类', href: '/sort', index: 3},
            {name: '看博文', href: '#', index: 4},
            {name: '编辑博文', href: '/editor', index: 5},
            {name: '写博客', href: '/write', index: 6},
        ]
    - var visible_menu_items = menu_list.filter(single_menu_item => all_display_index.includes(single_menu_item.index))
    .nav-scroller.py-1.mb-2
        ul.nav.nav-tabs.flex-fill
            each item in visible_menu_items
                - var chosen = item.index === choose_index ? 'ok': ''
                +list_item(item.name, item.href, chosen)