extends template
include public/menu_maker
include public/libs_maker
block title_and_libs
    title 未找到页面
    +make_scripts('jquery','bootstrap','font_awesome')
    +make_css('bootstrap')

block page_menu
    - var vl = isAuthed? [1,2,3,6,7]:[1,2,3,7]
    +make_menu(vl,0)

block content
    div 你所找的页面不存在
