doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block title_and_libs
            title Neboer's Boat - {{ current }}
            script(src="library/jquery-3.4.1.min.js")
            script(src="library/popper.min.js")
            script(src="library/bootstrap.min.js")
            link(rel="stylesheet" href="library/bootstrap.min.css")
            script(src="library/font_awesome.js")
    body
        .biggest
            header.py-lg-2
                .row.flex-nowrap.justify-content-between.align-items-center
                    .text-center.mx-auto
                        h1.large-op Neboer's Boat
                        small
                            strong N
                            | eboer's
                            strong= " B"
                            | log isn't
                            strong= " O"
                            | nly
                            strong= " A"
                            | bout
                            strong= " T"
                            | echnique
                    .icon-plate
                        a.text-muted.alignement(href="https://github.com/Neboer")
                            i.fab.fa-github
                        a.text-muted.alignement(href="mailto:rubinposter@gmail.com")
                            i.fas.fa-envelope
                        a.text-muted.alignement(href="https://www.google.com")
                            i.fas.fa-search
            block page_menu

            block content

    block scripts
        script

    style
        block style_desktop
            include style/common.css
        .
            @media (max-width: 576px) {

        block style_mobile
            include style/common_mobile.css
        .

            }
