.container
    .row
        .col-xs-offset.col-xs-11.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6
    .btn-toolbar(role="toolbar")
        .btn-group.btn-group-justified(role="group")
            .btn-group.fixed-width(role="group")
                a#meta.btn.btn-primary(title="修改博文metadata" href="/" + blog._id + "/metaEditor")
                    i.fa.fa-info.fa-lg(aria-hidden="true")
            .btn-group.fixed-width(role="group")
                a#big_content.btn.btn-primary(data-original-title="修改博文的文章内容" href="/" + blog._id + "/" + articleIndex + "/articleEditor")
                    i.fa.fa-align-justify.fa-lg(aria-hidden="true")
            .btn-group.fixed-width(role="group")
                a#new_article.btn.btn-primary(title="向博客中添加新的文章" href="/" + blog._id + "/articleCreator")
                    i.fa.fa-plus.fa-lg(aria-hidden="true")
            if blog.article.length > 1
                .btn-group.fixed-width(role="group")
                    button#remove_current.btn.btn-danger(title="删去博文中的此篇文章")
                        i.fa.fa-minus.fa-lg(aria-hidden="true")
            .btn-group.fixed-width(role="group")
                button#toggle_visible.btn.btn-primary(title=(blog.visible ? "将博客设为隐藏" : "将博客设为可见"))
                    i.fa.fa-lg(aria-hidden="true" class=(blog.visible ? "fa-eye-slash" : "fa-eye"))
            .btn-group.fixed-width(role="group")
                button#delete.btn.btn-danger(title="删除整篇博客")
                    i.fa.fa-trash-o.fa-lg(aria-hidden="true")
