.btn-toolbar.my-3(role="toolbar")
    .btn-group.btn-group-justified(role="group")
        .btn-group.fixed-width(role="group")
            a#meta.btn.btn-primary(title="修改博文metadata" href="/" + blog._id + "/metaEditor")
                i.fa.fa-info.fa-lg(aria-hidden="true")
        .btn-group.fixed-width(role="group")
            a#small_content.btn.btn-primary(title="修改博文的文章内容" href="/" + blog._id + "/articleEditor")
                i.fa.fa-align-justify.fa-lg(aria-hidden="true")
        .btn-group.fixed-width(role="group")
            a#small_half_full.btn.btn-primary(title="修改meta和文章内容" href="/" + blog._id + "/halfFullEditor")
                i.fa.fa-dice-two.fa-lg(aria-hidden="true")
        .btn-group.fixed-width(role="group")
            button#toggle_visible.btn.btn-primary(title=(blog.visible ? "将博客设为隐藏" : "将博客设为可见"))
                i.fa.fa-lg(aria-hidden="true" class=(blog.visible ? "fa-eye-slash" : "fa-eye"))
        .btn-group.fixed-width(role="group")
            button#delete.btn.btn-danger(title="删除整篇博客")
                i.fa.fa-trash.fa-lg(aria-hidden="true")
