extends editor_template
block preview_area
    #preview_article

block edit_area
    include components/article

block scripts
    include script/article_init.js
    include script/preview/article.js
    if blog.type === 0
        include script/submit/update_small_blog_article.js
    else
        if articleIndex
            include script/submit/update_big_blog_article.js
        else
            include script/submit/add_article_to_blog.js
