extends editor_template
block preview_area
    #preview_article

block edit_area
    include components/article

block scripts
    include script/article_init.js
    include script/preview/article.js
    include script/submit/add_article_to_blog.js