include ../public/menu_maker
include ../public/libs_maker
doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block title_and_libs
            title edit article
            +make_scripts('jquery','popper','bootstrap','font_awesome','showdown')
            +make_css('bootstrap')

    body
        .biggest
            header.py-lg-2
                .row.flex-nowrap.justify-content-between.align-items-center
                    .text-center.mx-auto
                        h1.large-op Neboer's Boat
                        small Neboer's blog isn't only about technique!
                    .icon-plate
                        a.text-muted.alinement
                            i.fab.fa-github
                        a.text-muted.alinement
                            i.fas.fa-envelope
                        a.text-muted.alinement
                            i.fas.fa-search
            block page_menu
                +make_menu([1, 2, 3, 5, 6],5)

            include components/preview_toolbar
            #preview_area
                block preview_area
            #edit_area
                block edit_area

    script
        include script/general_init.js
        if blog
            .
                let blog_id = "${blog._id}"
            if blog.type === 1
            .
                let article_index = "${articleIndex}"
        block scripts


    block style
        style.
            .alinement {
                margin-right: .5em;
            }
            .banner {
                max-width: 100%;
            }
            .biggest {
                width: 75%;
                margin: auto;
            }
            .icon-plate {
                position: absolute;
                right: 13%;
            }
            @media (max-width: 576px) {
                .biggest {
                    width: 98%;
                    margin: auto;
                }
                .icon-plate {
                    position: absolute;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                }
            }
