extends ../template
include ../public/menu_maker
include ../public/libs_maker
block title_and_libs
    title edit article
    +make_scripts('jquery','popper','bootstrap','font_awesome','showdown')
    +make_css('bootstrap')


block page_menu
    +make_menu([1, 2, 3, 5, 6],5)

block content
    include components/preview_toolbar
    #preview_area
        if componentsList.includes("meta")
            #preview_item
                if (blog && blog.type === 1)
                    include components/preview_big_card
                else if (blog && blog.type === 0)
                    include components/preview_small_card
                else
                    include components/preview_big_card
                    include components/preview_small_card
        if componentsList.includes("article")
            #preview_article
    #edit_area
        form
            if componentsList.includes("meta")
                include components/meta
            if componentsList.includes("extra")
                include components/extra
        if componentsList.includes("article")
            include components/article

block scripts
    script
        if componentsList.includes("meta")
            if (blog && blog.type === 1)
                include script/big_card.js
            else if (blog && blog.type === 0)
                include script/small_card.js
            else
                include script/big_card.js
                include script/small_card.js
        if componentsList.includes("article")
            include script/article.js
        if componentsList.includes("extra")
            include script/extra.js
        include script/preview.js
        -
            var props_list = {

            }