extends editor_template
block preview_area
    if blog.type === 1
        include components/preview_big_card
    else
        include components/preview_small_card

block edit_area
    include components/meta


block editor_scripts
    include script/meta_init.js
    if blog.type === 1
        include script/big_card.js
        include script/preview/meta_big.js
    else
        include script/small_card.js
        include script/preview/meta_small.js
    include script/submit/update_blog_meta.js