extends ../template
include ../public/menu_maker
include ../public/libs_maker
block title_and_libs
    title Neboer's boat homepage
    +make_scripts('jquery','bootstrap','font_awesome')
    +make_css('bootstrap')

block page_menu
    - var vl = isAuthed? [1,2,3,6]:[1,2,3]
    +make_menu(vl,1)

block content
    include homepage_content.html
